header {
  display: block;
  width: 100%;
  height: 350px;
  background-image: url('../images/header-background.png');
}

header img {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  text-align: center;
  margin: 0;
}