nav {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  color: #FFFFFF;
  z-index: 1;
  padding: 0.5em;
  float: left;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  background-image: url('../images/header-background.png');
  background-color: #00c7ac;
}

.logo {
  font-family: "Bungee", sans-serif;
  float: left;
}

.right-nav {
  float: right;
}

.right-nav i.flaticon-down::before {
  margin: 0;
  text-align: center;
  display: inline-block;
}

.right-nav i.flaticon-down {
  display: inline-block;
  width: 100%;
  margin: 0;
  text-align: center;
  animation: slide 1s infinite;
}

.right-nav i.flaticon-down:hover {
  cursor: pointer;
}

@keyframes slide {
  0%, 100% {
    margin-top:0;
  }
  
  20% {
    margin-top:1px;
  }
  
  40% {
    margin-top:2px;
  }
  60% {
    margin-top:3px;
  }
  80% {
    margin-top:4px;
  }
}


@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
  }
}