#tweets {
  position: element(.new-tweet);
  margin-top:10px;
}

.tweet {
  border: 2px solid #4056A1;
  padding: 5px;
  margin: 10px 0px 10px;
}

.tweet:hover {
  border: 2px solid coral;
}

.tweet header {
  height: 3em;
}
.tweet header div {
  height: 100%;
  display: inline-block;
  font-size: 20px;
}

.avatar, .user {
  float: left;
}

.tweet div.handle {
  float: right;
  font-weight: bold;
  display: none;
}

.user, .handle {
  padding: 0.2em;
}

div.avatar img {
  max-height: 100%;
  max-width: 100%;
  padding:0;
}

.tweet .content {
  border-bottom: 2px solid #4056A1;
}

.tweet:hover .content {
  border-color: coral;
}

.tweet:hover div.handle {
  display: inline-block;
}

.tweet .content p {
  margin: 0.2em;
}

.tweet footer {
  margin-top: 10px;
  height: 1em;
}
.tweet footer div {
  display: inline-block;
  font-size: 70%;
  height: auto;
}

.tweet .age {
  float: left;
}

.tweet .actions {
  float: right;
  color: #4056A1;
}

.go-to-top {
  display: none;
  height: 50px;
  width: 50px;
  background: #4056A1;
  border-radius: 100%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: snow;
}

.go-to-top.show {
  display: table;
}

.go-to-top.show:hover {
  cursor: pointer;
}

.go-to-top i.flaticon-double-up-arrow-angles {
  display: table;
  width: 100%;
  height: 100%;

}
.go-to-top i.flaticon-double-up-arrow-angles::before {
  margin:0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media screen and (min-width: 1024px) {
  #tweets {
    margin-top: 5px;
  }
  .tweet {
    margin-top: 0;
  }
}